@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@keyframes slowly-up-and-down {
  0% {
    opacity: 0.4;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(4px);
  }
  100% {
    opacity: 0.4;
    transform: translateY(0px);
  }
}
@keyframes slowly-left-to-right {
  0% {
    opacity: 0.4;
    transform: translateX(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateX(4px);
  }
  100% {
    opacity: 0.4;
    transform: translateX(0px);
  }
}
@keyframes scale-in {
  0% {
    opacity: 0.2;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes throw-away-to-right {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    transform: translateX(1000px) rotate(360deg);
  }
}
@keyframes slide-in-from-right-to-left {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}
body {
  padding: 0;
  margin: 0;
  background: rgb(255, 255, 255);
  color: #025702;
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.hide {
  display: none;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 0.1s;
}
#overlay.active {
  background: rgba(0, 0, 0, 0.224);
  z-index: 2;
}

#filter-menu {
  display: none;
  position: absolute;
  background: rgb(255, 255, 255);
  z-index: 1000;
  width: 70%;
  height: 100%;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  right: 0;
}
#filter-menu.active {
  display: block;
  animation: slide-in-from-right-to-left 0.2s ease-in;
}
#filter-menu #close-filters-button {
  position: absolute;
  right: 30px;
  top: 30px;
  transform: scale(2);
  cursor: pointer;
}
#filter-menu button {
  width: 220px;
  background: #d45e66;
  text-align: center;
  font-size: 1em;
  padding: 0.65em;
  outline: none;
  margin: 2em auto;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #d9e6d9, -2px -2px 8px rgb(243, 254, 243);
  color: white;
  cursor: pointer;
}
#filter-menu #filter-menu-content {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 13%;
}
#filter-menu #filter-menu-content .filter-frame {
  width: 210px;
  background: white;
  text-align: center;
  font-size: 1em;
  padding: 0.3em;
  outline: none;
  margin: 1% auto;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #d9e6d9, -2px -2px 8px rgb(243, 254, 243);
  color: #025702;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-around;
}
#filter-menu #filter-menu-content .filter-frame .filter-arrow {
  transform: rotate(90deg);
  font-weight: 600;
  margin-right: 15px;
}
#filter-menu #filter-menu-content .filter-options-list {
  width: 200px;
  background: white;
  text-align: center;
  font-size: 1em;
  padding: 0.3em;
  outline: none;
  margin: 5% auto;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #d9e6d9, -2px -2px 8px rgb(243, 254, 243);
  color: #025702;
  position: absolute;
  top: 120%;
  text-align: left;
  z-index: 2222;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}
#filter-menu #filter-menu-content .filter-options-list .filter-option {
  margin: 0 0 1em 1.5em;
}
#filter-menu #filter-menu-content .filter-options-list .filter-option:hover {
  color: #d1525a;
}
#filter-menu #filter-menu-content .filter-options-list .filter-option:active {
  color: #025702;
}
#filter-menu #filter-menu-content .filter-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2em;
}
#filter-menu #filter-menu-content label {
  margin-right: 0.5em;
  margin-bottom: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 2px rgba(110, 110, 110, 0.348);
  background: rgba(255, 255, 255, 0.351);
}
header .logo {
  position: relative;
  padding: 0.5em;
}
header .logo img {
  position: absolute;
  top: 16px;
  left: 20px;
  width: 40px;
  height: 24px;
}
header nav {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
header nav span {
  display: flex;
  padding: 0em 1em;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
header nav span:hover {
  opacity: 0.7;
}
header nav span:active {
  color: #d1525a;
  opacity: 1;
}
header nav span.visited {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #d1525a;
}

.wrapper {
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 3em;
}
.wrapper #main-container {
  display: flex;
  width: 300px;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper #main-container label {
  font-size: 0.9em;
  opacity: 0.8;
}
.wrapper #main-container img {
  width: 30px;
  animation: slowly-up-and-down 1.7s ease-in-out infinite;
  margin-bottom: 10px;
}
.wrapper #main-container input {
  width: 20%;
  background: white;
  text-align: center;
  font-size: 1.3em;
  padding: 0.3em;
  outline: none;
  margin: 0 0 10px 0;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #d9e6d9, -2px -2px 8px rgb(243, 254, 243);
  color: #025702;
}
.wrapper #main-container input::-webkit-outer-spin-button,
.wrapper #main-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.wrapper #main-container input[type=number] {
  -moz-appearance: textfield;
}
.wrapper #verbs-container h2 {
  font-size: 1em;
  text-align: center;
}
.wrapper #verbs-container h2.error {
  color: #d1525a;
}
.wrapper #verbs-container #list-of-verbs {
  height: 20vh;
  border-radius: 10px;
  opacity: 0;
  transition: 0.1s ease-in-out;
}
.wrapper #verbs-container #list-of-verbs a {
  display: block;
  margin: 0.4em 0;
  font-size: 1.2em;
  color: #d1525a;
  transition: 0.1s ease-in-out;
}
.wrapper #verbs-container #list-of-verbs a:hover {
  opacity: 0.65;
}
.wrapper #verbs-container #list-of-verbs a.visited, .wrapper #verbs-container #list-of-verbs a:active {
  text-decoration: line-through;
  opacity: 0.8;
}
.wrapper #verbs-container #list-of-verbs.active {
  opacity: 1;
  overflow: scroll;
  overflow-x: hidden;
  background: white;
  box-shadow: 2px 2px 8px #d9e6d9, -2px -2px 8px rgb(243, 254, 243);
  padding: 0.3em 2em;
}
.wrapper #words-section #word-counter {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 10%;
}
.wrapper #words-section #list-of-words {
  display: none;
}
.wrapper #words-section #list-of-words.active {
  display: flex;
  flex-direction: column;
}
.wrapper #words-section #list-of-words h2 {
  margin: 0;
}
.wrapper #words-section #list-of-words .card {
  background: rgba(255, 255, 255, 0.351);
  padding: 2.5em 3em;
  width: 100%;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0px 3px 5px rgba(110, 110, 110, 0.348);
  margin-bottom: 2.5em;
  position: relative;
}
.wrapper #words-section #list-of-words .card.intro {
  animation: scale-in 0.2s ease-in;
}
.wrapper #words-section #list-of-words .card.outro {
  animation: throw-away-to-right 0.2s ease-out;
}
.wrapper #words-section #list-of-words .card .filter-icon {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  height: 30px;
  right: 30px;
  top: 30px;
  cursor: pointer;
}
.wrapper #words-section #list-of-words .card .context-word {
  color: #d1525a;
  font-style: normal;
  font-weight: 600;
  color: #d1525a;
}
.wrapper #words-section #list-of-words .card .translation-button {
  padding: 0;
  border: none;
  background: none;
  color: #d1525a;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}
.wrapper #words-section #list-of-words .card .translation-word {
  font-weight: 500;
  margin: 0;
}
.wrapper #words-section #list-of-words .card .context,
.wrapper #words-section #list-of-words .card .context-word,
.wrapper #words-section #list-of-words .card .translation-word {
  font-style: italic;
}
.wrapper #words-section #list-of-words .card .context-word,
.wrapper #words-section #list-of-words .card .translation-button,
.wrapper #words-section #list-of-words .card .translation-word {
  color: #d1525a;
}
.wrapper #words-section #list-of-words .card #next-btn {
  animation: slowly-left-to-right 2s ease-in-out infinite;
  cursor: pointer;
  position: absolute;
  background: none;
  border: none;
  font-size: 2em;
  padding: 0.25em 0.4em;
  border-radius: 50%;
  color: #025702;
  bottom: 5%;
  right: 5%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.wrapper #words-section #list-of-words .card #next-btn:focus {
  outline: none !important;
}
.wrapper #game-section #list-of-game-words {
  display: flex;
  justify-content: space-between;
}
.wrapper #game-section #list-of-game-words .game-word {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: rgba(255, 255, 255, 0.351);
  padding: 1em;
  border-radius: 0.6em;
  box-shadow: 0px 1px 3px 1px rgba(110, 110, 110, 0.348);
  text-align: center;
  height: 30px;
  width: 110px;
  margin-bottom: 1.2em;
  transition: 0.1s;
  cursor: pointer;
}
.wrapper #game-section #list-of-game-words .game-word.splitted {
  line-height: 17px;
}
.wrapper #game-section #list-of-game-words .game-word.clicked {
  color: rgb(56, 139, 166);
  background: rgba(115, 180, 255, 0.05);
  box-shadow: 0px 1px 3px 1px rgba(115, 180, 255, 0.41);
}
.wrapper #game-section #list-of-game-words .game-word:active {
  box-shadow: 0px 1px 3px 1px rgba(115, 180, 255, 0.105);
}
.wrapper #game-section #list-of-game-words .list-left {
  margin-right: 1em;
}/*# sourceMappingURL=main.css.map */