@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import './utilities/animations';
@import './utilities/variables';

body {
	padding: 0;
	margin: 0;
	background: $background-green;
	color: $dark-green;
	font-family: 'Poppins', sans-serif;
}

.hide {
	display: none;
}

header {
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 0px 2px rgba(110, 110, 110, 0.348);
	background: rgba(255, 255, 255, 0.351);
	nav {
		display: flex;
		justify-content: space-around;
		padding: 1em;
		span {
			display: flex;
			padding: 0em 1em;
			cursor: pointer;
			&:hover {
				opacity: 0.7;
			}
			&:active {
				color: $dark-red;
				opacity: 1;
			}
			&.visited {
				text-decoration: underline;
				text-underline-offset: 5px;
				color: $dark-red;
			}
		}
	}
}

.wrapper {
	display: flex;
	height: 60vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em 3em;

	#main-container {
		display: flex;
		width: 300px;
		height: 200px;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		label {
			font-size: 0.9em;
			opacity: 0.8;
		}
		img {
			width: 30px;
			animation: slowly-up-and-down 1.7s ease-in-out infinite;
			margin-bottom: 10px;
		}
		input {
			width: 20%;
			background: lighten($background-green, 3%);
			text-align: center;
			font-size: 1.3em;
			padding: 0.3em;
			outline: none;
			margin-bottom: 10px;
			border: none;
			border-radius: 10px;
			box-shadow: 2px 2px 8px #d9e6d9, -2px -2px 8px rgb(243, 254, 243);
			color: $dark-green;
		}
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		input[type='number'] {
			-moz-appearance: textfield;
		}
	}
	#verbs-container {
		h2 {
			font-size: 1em;
			text-align: center;
		}
		h2.error {
			color: $dark-red;
		}

		#list-of-verbs {
			height: 20vh;
			border-radius: 10px;
			opacity: 0;
			transition: 0.1s ease-in-out;
			a {
				display: block;
				margin: 0.4em 0;
				font-size: 1.2em;
				color: $dark-red;
				transition: 0.1s ease-in-out;
				&:hover {
					opacity: 0.65;
				}
				&.visited,
				&:active {
					text-decoration: line-through;
					opacity: 0.8;
				}
			}
		}
		#list-of-verbs.active {
			opacity: 1;
			overflow: scroll;
			overflow-x: hidden;
			background: lighten($background-green, 2%);
			box-shadow: 2px 2px 8px #d9e6d9, -2px -2px 8px rgb(243, 254, 243);
			padding: 0.3em 2em;
		}
	}
	#list-of-words {
		display: none;
		&.active {
			display: flex;
			flex-direction: column;
		}
		h2 {
			margin: 0;
		}
		.card {
			background: rgba(255, 255, 255, 0.351);
			padding: 2.5em 3em;
			width: 100%;
			width: 250px;
			border-radius: 8px;
			box-shadow: 0px 3px 5px rgba(110, 110, 110, 0.348);
			margin-bottom: 2.5em;
			position: relative;

			.context-word {
				color: $dark-red;
				font-style: normal;
				font-weight: 600;
				color: $dark-red;
			}
			.translation-button {
				padding: 0;
				border: none;
				background: none;
				color: $dark-red;
				text-decoration: underline;
				text-underline-offset: 2px;
				cursor: pointer;
			}
			.translation-word {
				font-weight: 500;
				margin: 0;
			}
			.context,
			.context-word,
			.translation-word {
				font-style: italic;
			}
			.context-word,
			.translation-button,
			.translation-word {
				color: $dark-red;
			}
			#next-btn {
				position: absolute;
				background: none;
				border: none;
				font-size: 2em;
				padding: 0.25em 0.4em;
				border-radius: 50%;
				color: $dark-green;
				bottom: 5%;
				right: 5%;
			}
		}
	}
}
