@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@-webkit-keyframes slowly-up-and-down {
  0% {
    opacity: 0.4;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  100% {
    opacity: 0.4;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slowly-up-and-down {
  0% {
    opacity: 0.4;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  100% {
    opacity: 0.4;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

body {
  padding: 0;
  margin: 0;
  background: #e2ffe2;
  color: #025702;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 3em;
}

.wrapper #main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper #main-container label {
  font-size: 0.9em;
  opacity: 0.8;
}

.wrapper #main-container img {
  width: 30px;
  -webkit-animation: slowly-up-and-down 1.7s ease-in-out infinite;
          animation: slowly-up-and-down 1.7s ease-in-out infinite;
  margin-bottom: 10px;
}

.wrapper #main-container input {
  width: 20%;
  background: #f1fff1;
  text-align: center;
  font-size: 1.3em;
  padding: 0.3em;
  outline: none;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 8px #d9e6d9, -2px -2px 8px #f3fef3;
          box-shadow: 2px 2px 8px #d9e6d9, -2px -2px 8px #f3fef3;
  color: #025702;
}

.wrapper #main-container input::-webkit-outer-spin-button,
.wrapper #main-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapper #main-container input[type='number'] {
  -moz-appearance: textfield;
}

.wrapper #verbs-container h2 {
  font-size: 1em;
  text-align: center;
}

.wrapper #verbs-container h2.error {
  color: #d1525a;
}

.wrapper #verbs-container #list-of-verbs {
  height: 20vh;
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.wrapper #verbs-container #list-of-verbs a {
  display: block;
  margin: 0.4em 0;
  font-size: 1.2em;
  color: #d1525a;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.wrapper #verbs-container #list-of-verbs a:hover {
  opacity: 0.65;
}

.wrapper #verbs-container #list-of-verbs a.visited, .wrapper #verbs-container #list-of-verbs a:active {
  text-decoration: line-through;
  opacity: 0.8;
}

.wrapper #verbs-container #list-of-verbs.active {
  opacity: 1;
  overflow: scroll;
  overflow-x: hidden;
  background: #ecffec;
  -webkit-box-shadow: 2px 2px 8px #d9e6d9, -2px -2px 8px #f3fef3;
          box-shadow: 2px 2px 8px #d9e6d9, -2px -2px 8px #f3fef3;
  padding: 0.3em 2em;
}
/*# sourceMappingURL=main.css.map */