@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('./animations/animations.css');

$dark-green: #025702;
$background-green: rgb(226, 255, 226);
$dark-red: #d1525a;

body {
	padding: 0;
	margin: 0;
	background: $background-green;
	color: $dark-green;
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em 3em;

	#main-container {
		display: flex;
		width: 300px;
		height: 200px;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		label {
			font-size: 0.9em;
			opacity: 0.8;
		}
		img {
			width: 30px;
			animation: slowly-up-and-down 1.7s ease-in-out infinite;
			margin-bottom: 10px;
		}
		input {
			width: 20%;
			background: lighten($background-green, 3%);
			text-align: center;
			font-size: 1.3em;
			padding: 0.3em;
			outline: none;
			margin-bottom: 10px;
			border: none;
			border-radius: 10px;
			box-shadow: 2px 2px 8px #d9e6d9, -2px -2px 8px rgb(243, 254, 243);
			color: $dark-green;
		}
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		input[type='number'] {
			-moz-appearance: textfield;
		}
	}
	#verbs-container {
		h2.error {
			color: $dark-red;
		}

		#list-of-verbs {
			height: 20vh;
			border-radius: 10px;
			opacity: 0;
			transition: 0.1s ease-in-out;
			p {
				font-size: 1.2em;
				color: $dark-red;
			}
		}
		#list-of-verbs.active {
			opacity: 1;
			overflow: scroll;
			overflow-x: hidden;
			background: lighten($background-green, 2%);
			box-shadow: 2px 2px 8px #d9e6d9, -2px -2px 8px rgb(243, 254, 243);
			padding: 1em 2em;
		}
	}
}
